<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Events</servlet-name>
        <servlet-class>controller.Events</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notify</servlet-name>
        <servlet-class>controller.Notify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CameraInfo</servlet-name>
        <servlet-class>controller.CameraInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisconnectCam</servlet-name>
        <servlet-class>controller.DisconnectCam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenoveCam</servlet-name>
        <servlet-class>controller.RemoveCam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Setting</servlet-name>
        <servlet-class>controller.Setting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetEmail</servlet-name>
        <servlet-class>controller.SetEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>History</servlet-name>
        <servlet-class>controller.History</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistory</servlet-name>
        <servlet-class>controller.ViewHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAbnormalEvent</servlet-name>
        <servlet-class>controller.ViewAbnormalEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveHistory</servlet-name>
        <servlet-class>controller.SaveHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Help</servlet-name>
        <servlet-class>controller.Help</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Events</servlet-name>
        <url-pattern>/Events</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notify</servlet-name>
        <url-pattern>/Notify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CameraInfo</servlet-name>
        <url-pattern>/CameraInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisconnectCam</servlet-name>
        <url-pattern>/DisconnectCam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenoveCam</servlet-name>
        <url-pattern>/RenoveCam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Setting</servlet-name>
        <url-pattern>/Setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetEmail</servlet-name>
        <url-pattern>/SetEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/History</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistory</servlet-name>
        <url-pattern>/ViewHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAbnormalEvent</servlet-name>
        <url-pattern>/ViewAbnormalEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveHistory</servlet-name>
        <url-pattern>/SaveHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Help</servlet-name>
        <url-pattern>/Help</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
